{% extends 'base.html' %}

{% block content %}

  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
              <h1 class="title-single">Audits</h1>
              <br>
              {% if user.is_authenticated %}
              <button onclick="window.location.href='{% url 'audit_new' %}'" class="btn btn-primary">Add audit</button>
              {% endif %}
              <br>
              <br>
              <table class="table table-hover">
	            <tr>
                    <th class="text-center">Lp</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Create date</th>
                    <th> </th>
                    <th> </th>
                    <th> </th>
                </tr>
                  {% for audit in audits %}
	            <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    <td class="text-center">{{ audit.name }}</td>
                    <td class="text-center">{{ audit.date_start }}</td>
                    <td class="text-center"><button onclick="window.location.href='{% url 'audit_detail' pk=audit.pk %}'" class="btn btn-primary">Inspections</button></td>
                    <td class="text-center"><button onclick="window.location.href='{% url 'audit_edit' pk=audit.pk %}'" class="btn btn-primary">Edit</button></td>
                    <td class="text-center"><form action="{% url 'audit_delete' pk=audit.pk %}" method="post" style="display:inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
              </form></td>
                </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}